<a href="{{path('app_addClassroom')}}">Add Classroom</a>
<h4>List Classrooms</h4>

{% for i in tabClassrooms %}
id : {{ i.id }}
    name : {{ i.name }}
    <a href="{{ path('app_updateClassroom',{'id':i.id}) }}">Update</a>
    <a href="{{ path('app_removeClassroom',{'id':i.id}) }}">Delete</a>
    <br>


{% endfor %}